<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos</title>
    <link rel="stylesheet" href="../assets/css/archivo.css">
</head>
<body>
        <header>
            <img id="top" src="../img/logo.png" alt="Logo">
        
        </header>
        <nav>
            <ul>
            <H2>Menu</H2>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./Diseño.html">Diseño</a></li>
            <li><a href="./modelos.html">Modelos</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    <h1>Modelos</h1>
    <table>
        <tr>
            <th>Modelo</th>
            <th>Dimensiones</th>
            <th>Escritorio</th>
        </tr>
        <tr>
            <td>UrbanQueen</td>
            <td>1.90 x 140 cm</td>
            <td>65 x 120 cm</td>
        </tr>
        <tr>
            <td>UrbanSolo</td>
            <td>1.90 x 90cm</td>
            <td>65 x 90 cm</td>
        </tr>

    </table>    
</body>
</html>