<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros</title>
	<link rel="stylesheet" href="../assets/css/archivo.css">
</head>
<body>
	<header>
		<img id="top" src="../img/logo.png" alt="Logo">

	</header>
	<nav>
		<ul>
			<H2>Menu</H2>
			<li><a href="../index.html">Home</a></li>
			<li><a href="./Diseño.html">Diseño</a></li>
			<li><a href="./modelos.html">Modelos</a></li>
			<li><a href="./nosotros.html">Nosotros</a></li>
		</ul>
	</nav>
<h1>¿Quien esta detras de UrbanBed?</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus explicabo aperiam velit delectus consequatur mollitia, alias saepe a illo et eius. Itaque ratione nihil consectetur temporibus praesentium! Ipsum, vero.</p>
<!-- Cambiar por foto de perfil-->
<img src="../img/portada.png" alt="profilePic">
<h3>Encuentranos!</h3>
<img src="../img/mapa.png" alt="mapa">
<br><br>
<h3>Contacto</h3>
	<form action="#" method="post">
		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" size="40">
		<br>
		<br>
		<label for="email">Correo Electronico:</label>
		<input type="email" name="email" >
		<br>
		<br>
		<label for="Genero">Genero:</label>
		<select name="genero" id="genero">
			<option value="a">No indicar</option>
			<option value="m">Mujer</option>
			<option value="h">Hombre</option>
		</select><br><br>
		<label for="promo">Desea recibir promociones?</label>
		<input type="checkbox">
		<br>
		<br>
		<input type="reset"value="Limpiar Info">
		<input type="submit" value="Enviar">
	
	</form>
</body>
</html>